/secrets/
/station_data/
/.ipynb_checkpoints/
/Notebooks/.ipynb_checkpoints/
/micromet/.ipynb_checkpoints/
/data/.ipynb_checkpoints/
/station_config/gridMET_data/
/micromet/.ipynb_checkpoints/
/data/.ipynb_checkpoints/
/.ipynb_checkpoints/
/Notebooks/.ipynb_checkpoints/
/micromet/__pycache__/
/__pycache__/
/.ipynb_checkpoints/
/.idea/