/secrets/
/station_data/
/.ipynb_checkpoints/
/Notebooks/.ipynb_checkpoints/
/micromet/.ipynb_checkpoints/
/data/.ipynb_checkpoints/
/station_config/gridMET_data/
/micromet/.ipynb_checkpoints/
/data/.ipynb_checkpoints/
/.ipynb_checkpoints/
/Notebooks/.ipynb_checkpoints/
/micromet/__pycache__/
/__pycache__/
/.ipynb_checkpoints/
/.idea/
MicroMet.code-workspace
micromet/__pycache__/__init__.cpython-312.pyc
micromet/__pycache__/__init__.cpython-312.pyc
micromet/__pycache__/converter.cpython-312.pyc
micromet/__pycache__/cs_wrapper.cpython-312.pyc
micromet/__pycache__/ec.cpython-312.pyc
micromet/__pycache__/graphs.cpython-312.pyc
micromet/__pycache__/licor_wrapper.cpython-312.pyc
micromet/__pycache__/meteolib.cpython-312.pyc
micromet/__pycache__/outlier_removal.cpython-312.pyc
micromet/__pycache__/tools.cpython-312.pyc
micromet/__pycache__/__init__.cpython-312.pyc
micromet/__pycache__/converter.cpython-312.pyc
micromet/__pycache__/cs_wrapper.cpython-312.pyc
micromet/__pycache__/ec.cpython-312.pyc
micromet/__pycache__/graphs.cpython-312.pyc
micromet/__pycache__/licor_wrapper.cpython-312.pyc
micromet/__pycache__/meteolib.cpython-312.pyc
micromet/__pycache__/outlier_removal.cpython-312.pyc
micromet/__pycache__/tools.cpython-312.pyc
/Notebooks/Footprints/NLDAS_data/
/Notebooks/.ipynb_checkpoints/
/micromet/.ipynb_checkpoints/
*.pyc
/Notebooks/Footprints/output/
Notebooks/Weighted_Daily_Areas.geojson
station_config/output/US-UTW_daily_data.csv
station_config/output/US-UTW_monthly_data.csv
station_config/output/US-UTW_daily_data.csv
station_config/output/US-UTW_monthly_data.csv

/.pytest_cache
/Notebooks/logs
/tests/__pycache__
/tests/.pytest_cache
/tests_micromet/__pycache__
/tests_micromet/.pytest_cache
/Notebooks/8441_aquatroll_30_min_36.dat
/Notebooks/8441_Statistics_AmeriFlux_3.dat
/.vscode
/data/station_config/output
/Notebooks/LI720vsIRGASON.ipynb
/data/station_data
/data/logs
/_build
/recipes
/src/micromet.egg-info
/dist
/recipes/meta.yaml